<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <%  var image_src = '../resources/img/helmet.jpg';
					if(img_src)
					{
						image_src = img_src;
					}

				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id,
							 			but will display the player's name-->
										<%
										if (players)
										 {
										    var opts = '';
											players.forEach(function(item){
												if(id==item.id){
										  		 		opts += '<option selected value="' + item.id + '">' + item.name + '</option>';
												     }
														 else
														 {
												  		 opts += '<option value="' + item.id + '">' + item.name + '</option>';
														 }
										  	 }); %>
										  	 <%- opts %>
										<% } %>

						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<% if(p_info){
								var p_year,p_major,p_gp,p_py,p_avg_py,p_ruy,p_avg_ruy,p_rey,p_avg_rey;
								p_info.forEach(function(item){
									p_year = item.year;
									p_major = item.major;
									p_gp = games_played;
									p_py = item.passing_yards;
									p_avg_py = p_py / p_gp;
									p_ruy = item.rushing_yards;
									p_avg_ruy = p_ruy / p_gp;
									p_rey = item.receiving_yards;
									p_avg_rey = p_rey / p_gp;
								});%>
						<%}%>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<th>Year</th>
							<td><%- p_year %></td>
						</tr>
						<tr>
							<th>Major</th>
							<td><%- p_major %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td><%- p_gp %></td>
						</tr>
						<tr>
							<td>Passing Yards: <%- p_py %></td>
							<td>Avg. Passing Yards: <%- p_avg_py %></td>
						</tr>
						<tr>
							<td>Rushing Yards: <%- p_ruy %></td>
							<td>Avg. Rushing Yards: <%- p_avg_ruy %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <%- p_rey %></td>
							<td>Avg. Receiving Yards: <%- p_avg_rey %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
